 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Ticket Marketplace</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Us</h3>
            <p>A ticket exchange, also known as a secondary ticket outlet, is a market where tickets are bought and sold. Ticket exchanges allow people to buy and sell tickets online. Typically, ticket exchanges are used by individuals wanting to buy or resell tickets from other individuals rather than from the event the ticket is for. Originally, this industry was dominated by street-based touts working outside large events and venues, buying tickets cheaply from people who had spares and selling them on to last-minute buyers. While some street touts may still exist, the advent of the internet has transformed the practice. Secondary markets today are predominantly online. There are two niches of ticket exchanges, also called secondary marketplaces: event tickets and travel reservations.</p>
        </div>
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: event_ticket@123.com</p>
            <p>Phone: +91 630 344 6577</p>
        </div>
    </div>
</footer> 
<!-- <footer class="footer mt-auto bg-dark text-white">
    <div class="container">
        <div class="text-center mt-3">
            &copy; 2024 About Event Ticket Management Developed by SAI KAMAL
            <p>Under the Esteemed Guidance of K.V.Chandhra Sekhar, Assistant Professor,Dept of CSM & CSD</p>
        </div>
    </div>
</footer> -->

</body>
</html> 
